/*.swiper-wrapper{
    border: 1px solid rgba(0, 0, 0, 0.014);
    border-radius:10px;
    box-shadow: 0 0 3px 0 #dee2e6;
    background: #ec3e27c9;
    overflow: hidden;
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}
.list-product{
    
    overflow: hidden;
    margin: 0 auto;
}
.product{
    width: 250px;
    padding: 20px;
    background-color: white;
}
.img{
    text-align: center;
}
.img a img{
    width:100%;
    
}
.name a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.name a:hover{
    color: grey;
}
.old-price{
    margin-bottom: 0;
    text-decoration: line-through;
    color: gray;
} 
.new-price{
    color: red;
    font-weight: bold;
}
.product:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) ;
    border: 1px solid rgba(0, 0, 0, 0.281);
    border-radius: 2px;
}*/
/****************SWIPER********************/
/*.box-slide-product{
    background-color: coral;
    width: 100%;
    height: 100%;
}
.swiper-slide{
    width: 200px !important;
    margin-right: 0px !important;
}
.swiper-wrapper{
    display: flex;
    overflow: hidden;
    
}
.slider-box{
    
    height:320px;
    width:200px;
    position:relative;
    background-color:#FFFFFF;
    border-radius:2px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}
.slider-box a{
    text-decoration:none;
    text-align:center;}
.img-box{
    height:170px;
}
.img-box img{
    height:auto;
    max-width:100%;
    max-height:100%;
}
.time{
    position:absolute;
    top:0px;
    right:20px;
    color:#f16007;
}

.detail{
    display:flex;
    flex-direction:column;
    align-items:center;
    box-sizing:border-box;
    font-size:13px;
    line-height:35px;
}
.price{
    color:#FFFFFF;
    background-color:#ff555b;
    line-height:20px;
}
.slider-box:hover{
    box-shadow:2px 2px 12px rgba(47,47,47,0.40);
    border:1px solid rgba(187,187,187,0.40);
}
.slider-box:hover .img-box img{
    transform:scale(1.07);
    transition:all ease 0.3s;
}
.cart:hover{
    transform:scale(1.1);
    background-color:#fe9048;
    box-shadow:2px 2px 12px rgba(47,47,47,0.40);
    transition:all ease 0.1s;
}
*/